body {
  font-family: Helvetica, sans-serif;
  background: -webkit-linear-gradient(#CCC, #AAA);
  background-attachment: fixed;
}

span.help a {
  text-decoration: none;
  color: Gray;
  vertical-align: super;
  font-size: 0.8em;
}

